<div class="login-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>כניסה לסטודיו</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        
        <mat-form-field appearance="outline">
          <mat-label>שם משתמש</mat-label>
          <input matInput formControlName="userName" placeholder="הקלידי שם משתמש">
          @if (loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched) {
            <mat-error>שם משתמש חובה (לפחות 3 תווים)</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>סיסמה</mat-label>
          <input matInput type="password" formControlName="password" placeholder="הקלידי סיסמה" (input)="onPasswordInput()">
          @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
            <mat-error>סיסמה חובה</mat-error>
          }
          @if (loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched) {
            <mat-error>סיסמה חייבת להכיל לפחות 6 תווים</mat-error>
          }
          @if (loginForm.get('password')?.hasError('pattern') && loginForm.get('password')?.touched) {
            <mat-error>הסיסמה צריכה להכיל רק מספרים</mat-error>
          }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
          התחברות
        </button>
            <span *ngIf="!isExists">Name or password is wrong</span>
      </form>
    </mat-card-content>
  </mat-card>
</div>





